.wrapper {
  margin-top: 20px;
  text-align: center;

  button {
    margin-right: 60%;
    margin-bottom: 30px;
    background: none;
    border: none;
    padding: 1px;
    border-bottom: 1px solid #000;

    &:hover {
      color: rgb(46, 7, 241);
      cursor: pointer;
      border-bottom: 1px solid rgb(46, 7, 241);
    }
  }

  .info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    &_text {
      width: 200px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      h4 {
        font-size: 18px;
        font-weight: bold;
      }

      p {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }
  img {
    width: 80%;
    border-radius: 50px;
  }
  .biography {
    margin: 0 auto;
    span {
      text-align: justify;
      font-size: 24px;
      font-weight: bold;
      width: 600px;
    }
  }
}
